*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: fontJensin;
    /* src: url(assets/zhcn.ttf); */
}

.slide{
    height: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    display: flex;
    flex-direction: row-reverse;
}

.slide[data-active]{
    opacity : 1;
}

.slide img{
    padding-right: 3%;
}

.navbar{
    display: flex;
    /* top : 0; */
    background-color: #1d1c22;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    position: relative;
    width : 100%;
    font-family: fontJensin ;
    z-index: 100;
}

.slide{
    height: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    display: flex;
    flex-direction: row-reverse;
}

.slide[data-active]{
    opacity : 1;
}

.slide img{
    padding-right: 3%;
}

.logoNav img{
    width : 5rem;
    height : auto;
    /* background-color: brown; */
    align-items: center;
}

.navbar .tengah li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

.navbar .tengah li a{
    color: #dbc7ac;
    text-decoration: none;
    font-weight: bold;
}

.navbar .tengah li a:hover{
    color: #dbc7ac;
    transition: .3s;
    border-bottom: solid;
    padding-bottom: 10px;
}

.active{
    color: #dbc7ac;
    transition: .3s;
    border-bottom: solid;
    padding-bottom: 10px;
}

.navbar .kanan li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    padding: 5px;
}

.navbar .kanan .download{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    border: 30px;
    padding: 25px;
    background-color: #FF3A44;
}

.navbar .kanan .download :hover{
    border: 30px;
    /* padding: 25px; */
    background-color: darkgray;
}

.navbar .kanan .download{
    color: white;
    text-align: center;
}

.navbar .kanan li a{
    color: #dbc7ac;
    text-decoration: none;
    font-weight: bold;
}

.navbar .kanan .download .downloadDalem{
    color: white;
    text-align: center;
}

.menu-icon img{
    display: none;
    width : 5rem;
    height : auto;
    /* background-color: brown; */
    align-items: center;
}

.dropMenu{
    display: none;
}

.dropMenuContainer{
    display: none;
}

@media screen and (max-width : 426px){

    .menu-icon img{
        display: block;
        width : 3.2rem;
        height : auto;
        /* background-color: brown; */
        align-items: center;
    }

    .tengah, .kanan{
        display: none;
    }

    .navbar{
        position: fixed;
        display: flex;
        justify-content: space-between;
    }
    .logoNav{
        /* position: absolute */
        display: flex;
        /* align-self: ; */
        /* z-index: 101; */
    }

    .dropMenuContainer {
        display: block;
        position: absolute;
        width: 100vw;
    }

    .dropMenu {
        left: -1000px;
        position: absolute;
        padding: 2vh;
        background-color: #1d1c22b2;
        display: block;
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        font-size: 1em;
        /* transition: all 0.5s; */
        width: 100%;
    }

    .dropMenu a {
        color: #dbc7ac;
        text-decoration: none;
    }
}

.bgChar{
    /* background-image: url(assets/CharacterPage/bg.png); */
    background-repeat: no-repeat;
    /* top : 20%; */
    /* margin-top:  */
    background-size: cover;
    width: 100vw;
    height : 100vh;
    display : flex;
    flex-direction: column;
    /* position : relative; */
}

.atasnya{
    /* background-color: aqua; */
    display: flex;
    width: 100%;
    height : 75%;
    /* align-items: end; */
    /* justify-content: end; */
}

.bawahnya{
    background-color: rgba(0, 0, 0, 0.614);
    height : 25%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.kiriChar{
    background-color: rgba(0, 0, 0, 0.501);
    height: 100%;
    width: 30%;
    /* opacity: 70%; */
    display: flex;
}

.kananChar{
    /* background-color: #dbc7ac; */
    width: 100%;
    height: 100%;
    /* padding-top: 14.2%; */
    /* top: 0; */
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    /* padding-top: 5%; */
    position: relative;
    /* padd */
}



.kananChar .charKananBlack{
    background-color: #1d1c22;
    height: 30%;
    width: 100%;
    opacity: 70%;  
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.arrowL{
    background-image: url("assets/CharacterPage/ArrowL.png");
    background-size: 100% 100%;
    height: 30%;
    width: 4%;
}

.card1{
    /* background-image: url("assets/CharacterPage/venticard1.png"); */
    background-size: 100% 100%;
    height: 70%;
    width: 8%;
}

.card2{
    /* background-image: url("assets/CharacterPage/jean_character_card.png"); */
    background-size: 100% 100%;
    height: 70%;
    width: 8%;
}

.card3{
    /* background-image: url("assets/CharacterPage/diluccard1.png"); */
    background-size: 100% 100%;
    height: 70%;
    width: 8%;
}

.arrowR{
    background-image: url("https://github.com/aryaaqilah/jensinimpek/blob/finale/assets/CharacterPage/ArrowR.png?raw=true");
    background-size: 100% 100%;
    height: 30%;
    width: 4%;
}

.line{
    background-image: url("https://github.com/aryaaqilah/jensinimpek/blob/finale/assets/CharacterPage/Line.png?raw=true");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    max-height: 100%;
}

/* .kosong{
    height: 10%;
} */

.hero{
    /* background-color: #FF3A44; */
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: fontJensin;
    font-size: 150%;
    color: white;
}

.logoChar{
    background-image: url("https://github.com/aryaaqilah/jensinimpek/blob/finale/assets/CharacterPage/Anemo.png?raw=true");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
    display: flex;
    z-index: 1;
    position: absolute;
    /* right: 0; */
    top : 14.5%;
    /* flex-direction: column; */
}

.kananChar .kananCharPic{
    /* background-image: url(assets/CharacterPage/VentiChar.png); */
    /* top : 0%; */
    /* margin-top: 5%; */
    /* top : 50%; */
    /* top : 12.4%; */
    /* padding-top: 20%; */
    
    background-size: 100% 100%;
    /* width: 70%; */
    height: 85%;
    width: 60%;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    /* position: absolute; */
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
}

.kananCharPic .namaChar{
    font-family: fontJensin;
    font-size: 150%;
    font-weight: bold;
    color: white;
    /* border-bottom: solid; */

}
 .kananCharPic .descChar{
    background-color: rgba(0, 0, 0, 0.498);
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 45%;
    font-family: fontJensin;
    color: white;
    font-size: 80%;
 }

.descChar .desc{
    margin : 5% 5% 5% 5%;
}

.pointer{
    cursor: pointer;
}

.footer{
    background-image: url("https://github.com/aryaaqilah/jensinimpek/blob/finale/assets/Footer.png?raw=true");
    background-size: cover;
    width: 100vw;
    height: 60vh;
    max-width: 100%;

}

@media screen and (max-width : 426px){
    .atasnya{
        display: flex;
        flex-direction: column-reverse;
    }

    .hero{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap : 1.7rem;
    }

    .line{
        display: none;
    }

    .kiriChar{
        height: 10%;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .kosong{
        display: none;
    }

    .line{
        display: none;
    }

    .map{
        font-size: 1rem;
        border-bottom : solid #dbc7ac;
        /* margin-left: 3; */
    }

    .bawahnya{
        height: 20%;
    }

    .card{
        width: 17%;
    }

    .kananChar{
        width: 100vw;
    }

    .kananChar .kananCharPic{

        width: 100%;
    }

    .descChar .desc{
        font-size: 0.7rem;
    }

    .kananCharPic .namaChar{
        padding-left: 5%;
    }
}

@media screen and (max-width : 769px) and (min-width :426px){
    .atasnya{
        display: flex;
        /* flex-direction: column-reverse; */
    }

    .hero{
        display: flex;
        /* flex-direction: row; */
        justify-content:center ;
        /* align-items: center; */
        gap : 5rem;
    }

    .line{
        display: none;
    }

    .kiriChar{
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: center;
        margin-right: 2%;
    }

    .kosong{
        display: none;
    }

    .line{
        display: none;
    }

    .bawahnya{
        height: 20%;
    }

    .card{
        width: 10%;
    }

    .kananChar{
        width: 100vw;
    }

    .kananChar .kananCharPic{

        width: 100%;
    }

    .descChar .desc{
        font-size: 0.7rem;
    }

    .kananCharPic .namaChar{
        padding-left: 5%;
    }
}

/* Footer */
footer{
    width: 100%;
    padding-top: 100px;
    color: #ffff;
    background-color: #000000;
}

#footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 40px; */
    gap: 30%;
    padding-bottom: 100px;
    height: 27.210884353741495vh;
}

/* Footer main content*/
#footer-paragraph-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: calc(70% + 0.2vw);
}

#footer-logo-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
}

/* Footer Logo */
/* .footer-logo{
    height: 50%;
    width: 75%;
} */

#cognosphere-logo{
    width: 70%;
}

#rating-logo{
    height: 80%;
}

#footer-jenshin-logo{
    height: 50%;
    width: 70%;
}

/* Footer Social Media Logo*/
#footer-social-media-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    background-color: white;
    border-radius: 20px;
    border-style: none;
}

.footer-social-media-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
}

.link-target{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer owners */
#footer-owners{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1D1C22;
}

#footer-owners-paragraph{
    font-size: calc(70% + 0.2vw);
    text-align: center;
}

/* Map Page Media Query */
@media only screen and (max-width: 426px) {
    
    /* Nav Bar */
    #nav-bar{
        display: none;
    }
    
    /* Map Page */
    #first-white-rect{
        height: 0;
    }

    .map-info-paragraph-container{
        /* width: 400px; */
        width: calc(25.252525252525253vh + 13.020833333333334vw);
    }

    /* Footer */
    #rating-logo{
        height: 60%;
    }

    .footer-social-media{
        height: 25px;
        width: 25px;
    }

    .footer-social-media-logo{
        height: 80%;
        width: 80%;
    }
}