*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: fontJensin;
    src: url(assets/zhcn.ttf);
}
.navbar{
    display: flex;
    /* top : 0; */
    background-color: #1d1c22;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    position: relative;
    width : 100%;
    font-family: fontJensin ;
    z-index: 100;
}

.slide{
    height: 100%;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
    display: flex;
    flex-direction: row-reverse;
}

.slide[data-active]{
    opacity : 1;
}

.slide img{
    padding-right: 3%;
}

.logoNav img{
    width : 5rem;
    height : auto;
    /* background-color: brown; */
    align-items: center;
}

.navbar .tengah li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

.navbar .tengah li a{
    color: #dbc7ac;
    text-decoration: none;
    font-weight: bold;
}

.navbar .tengah li a:hover{
    color: #dbc7ac;
    transition: .3s;
    border-bottom: solid;
    padding-bottom: 10px;
}

.active{
    color: #dbc7ac;
    transition: .3s;
    border-bottom: solid;
    padding-bottom: 10px;
}

.navbar .kanan li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    padding: 5px;
}

.navbar .kanan .download{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    border: 30px;
    padding: 25px;
    background-color: #FF3A44;
}

.navbar .kanan .download :hover{
    border: 30px;
    /* padding: 25px; */
    background-color: darkgray;
}

.navbar .kanan .download{
    color: white;
    text-align: center;
}

.navbar .kanan li a{
    color: #dbc7ac;
    text-decoration: none;
    font-weight: bold;
}

.navbar .kanan .download .downloadDalem{
    color: white;
    text-align: center;
}

.menu-icon img{
    display: none;
    width : 5rem;
    height : auto;
    /* background-color: brown; */
    align-items: center;
}

.dropMenu{
    display: none;
}

.dropMenuContainer{
    display: none;
}

@media screen and (max-width : 426px){

    .menu-icon img{
        display: block;
        width : 3.2rem;
        height : auto;
        /* background-color: brown; */
        align-items: center;
    }

    .tengah, .kanan{
        display: none;
    }

    .navbar{
        position: fixed;
        display: flex;
        justify-content: space-between;
    }
    .logoNav{
        /* position: absolute */
        display: flex;
        /* align-self: ; */
        /* z-index: 101; */
    }

    .dropMenuContainer {
        display: block;
        position: absolute;
        width: 100vw;
    }

    .dropMenu {
        left: -1000px;
        position: absolute;
        padding: 2vh;
        background-color: #1d1c22b2;
        display: block;
        display: flex;
        flex-direction: column;
        gap: 1.5vh;
        font-size: 1em;
        /* transition: all 0.5s; */
        width: 100%;
    }

    .dropMenu a {
        color: #dbc7ac;
        text-decoration: none;
    }
}

.jumbotron {
    background-image: url("assets/Rectangle 58.png");
    background-size: cover;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    padding: 2vh;
    /* margin-top: 10px; */
}

.jumbotron .jumbotron-container {
    background-image: url("assets/Vector.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



@media screen and (max-width : 426px){
    .logoJumbo img{
        max-width: 100%;
        margin : 2% 2%;
    }

    .buttonJumbo{
        display: flex;
        flex-direction: column;
    }
    .buttonJumbo img{
        width: 35vw;
    }

    .jumbotron{
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
    }
}

.batas1{
    background-image: url("assets/`newsBG.png");
    background-size: cover;
    max-width: 100%;
    height: 50vh;
    /* padding: 2vh; */
}

.batas1 .motif{
    /* background-image: url("assets/aaaa.png"); */
    background-size: cover;
    max-width: 100%;
    height: 50vh;
    width : auto;
    padding: 2vh;
    background-image: 
        linear-gradient(180deg, #ff00, #FFFAED),
        url("assets/aaaa.png");
}

.newsPage{
    /* width: 50%; */
    display: flex;
    background-color: #FFFAED;
    height: 120vh;
    justify-content:space-evenly;
    padding: 7%;
    flex-direction: column;
    position: relative;
}


.latest{
    /* width : 50%; */
    font-family: fontJensin;
    color: #FF3A44;
    display: flex;
    align-items: self-start;
    /* background-position-y: 100; */
    font-size: 8rem;
    /* padding-left: 7%; */
    position: absolute;
    top: 0rem;
    left: 10rem;
}

.grid-container{
    /* justify-content: center; */
    /* align-items: center; */
    width: 100%;
    height: 100%;
    /* border: 5px solid #1d1c22; */
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "news1 news2"
                        "news3 news4";
    grid-template-columns: auto, auto;
    /* grid-template-rows: auto, auto; */
    grid-gap : 1rem;
    /* background-color: #f6b206; */
    padding: 10px;
}

.news1{
    grid-area: news1;
    /* background-color: #FF3A44; */
    background-image: url(assets/NEWS\ PANEL\ 1.png);
    background-size: cover;
    /* max-height: 100%;
    max-width: 100%; */
    grid-row-start: 1;
    grid-row-end: 5;
}

.news1 .border1{
    background-image: url(assets/OutlineNews.png);
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    height: 4/7vh;
    padding: 2vh;
}


.news2{
    grid-area: news2;
    /* background-color: blue; */
    background-image: url(assets/NEWS\ PANEL\ 2.png);
    background-size: cover;
    grid-row-start: 1;
    grid-row-end: 6;
    
}

.news3{
    grid-area: news3;
    /* background-color: cornflowerblue; */
    background-image: url(assets/NEWS\ PANEL\ 3.png);
    grid-row-start: 5;
    grid-row-end: 8;
    background-size: cover;
    
}

.news4{
    grid-area: news4;
    /* background-color: dimgrey; */
    background-image: url(assets/NEWS\ PANEL\ 4.png);
    background-size: cover;
    grid-row-start: 6;
    grid-row-end: 8;
}

@media screen and (max-width : 426px){
    .newsPage{
        width: 100%;
        height: 100vh;
    }
    .latest{
        max-width: 100%;
        left : 0;
        font-size: 3.8rem;
        top: -5rem;
    }
}

@media screen and (max-width : 769px)  and (min-width :426px){
    .latest{
        max-width: 100%;
        left : 3%;
        font-size: 5rem;
        top: -5rem;
    }
    .batas2{
        display: none;
    }
}

.bgFlat{
    /* background-color: #FFFAED; */
    background-image: linear-gradient(180deg, #fffaed, #ffffff00);
}

.batas2{
    background-image: url("assets/`newsBG.png");
    background-size: cover;
    max-width: 100%;
    height: 50vh;
    /* padding: 2vh; */
}

.batas2 .motif{
    /* background-image: url("assets/aaaa.png"); */
    background-size: cover;
    max-width: 100%;
    height: 50vh;
    width : auto;
    padding: 2vh;
    top: 0;
    bottom: 0;
    background-image: 
        linear-gradient(
            to bottom,
            #fffaed 0%,
        rgba(64, 64, 64, 0) 20%,
        rgba(64, 64, 64, 0.504) 50%,
        #1d1c22 100%
        ),
        url("assets/aaaa.png");
}

.updateDiv{
    display: flex;
    position: relative;
    padding-top: 7%;
    background-color: #1d1c22;
    height: 150vh;
    width: 100vw;
    max-width: 100%;
    gap: 10%;
}

.updateDiv .imgUpdate{
    /* margin-top: 10%; */
    background-image: linear-gradient(to bottom,
    #fffaed00 0%,
    rgba(64, 64, 64, 0) 20%,
    #1d1c22 90%,
    #1d1c22 100%),
    url(assets/updateBGpng.png);
    background-size: cover;
    display: flex;
    /* height: 100rem;
    width: 100rem;
    max-width: 100%;
    max-height: 105%;
    padding: 2rem; */
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 3%;

    /* zoom: -2%; */
}

.updateDiv .imgUpdate .imgBorder{
    background-image: url(assets/vectorUpdate.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    /* height: 100rem;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    padding : 7em; */
    width: 100vw;
    height: 100%;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.updateDiv .imgUpdate .imgBorder .updateContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.newest-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 2;
    margin-top: -7%;
}

.updateDiv .newest{
    font-family: fontJensin;
    color: whitesmoke;
    font-size: 500%;
}

.updateDiv .new{
    font-family: fontJensin;
    font-weight: bold;
    color: #FF3A44;
    font-size: 470%;
    margin-top: -3%;
}

.updateDiv .imgUpdate .imgBorder .book{
    background-image: url(assets/Book.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* object-fit: contain; */
    width: 100%;
    height: 100%;
    /* max-width: 100%;
    max-height: 100%; */
    /* zoom: 100% */
    justify-content: center;
    flex-direction: column-reverse;
    position: relative;
    z-index: 1;
}

.updateDiv .imgUpdate .imgBorder .book .dalemBook{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    padding: 3vh 2vw;
}

.updateDiv .imgUpdate .imgBorder .book .gerakNewsKiri{
    /* background-color: #FF3A44; */
    width: 56.5%;
    height: 100%;
}

/* .updateDiv .imgUpdate .imgBorder .book .gerakNewsTengah{
    background-color: #FF3A44;
    width: 30%;
    height: 39em;
    max-height: 100%;
} */

.updateDiv .imgUpdate .imgBorder .book .gerakNewsKanan{
    /* background-color: rgba(1, 255, 255, 0); */
    /* background-image: url("assets/gambarSlide.png"); */
    background-size: 100%;
    background-repeat: no-repeat;
    width: 30%;
    height: 100%;
    max-height: 100%;
    right : 0;
    /* margin: 2vh 2vw; */
}

/* .updateDiv .imgUpdate .imgBorder .book .gerakNewsKanan ul{
    top : 100px;
    right : 0px;
    background-color: #00a0ff;
} */

@media screen and (max-width : 426px){
    .newest-container .newest, .newest-container .new{
        font-size: 2rem;
    }

    .updateDiv .imgUpdate .imgBorder .book .gerakNewsKanan .slide{
        /* background-color: rgba(1, 255, 255, 0); */
        /* background-image: url("assets/gambarSlide.png"); */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        /* width: 0%; */
        height: 85vh;
        max-height: 100%;
        top: 1rem;
        /* left : 6rem; */
        /* margin: 2vh 2vw; */
    }

    .updateDiv .imgUpdate .imgBorder .book .gerakNewsKanan{
        /* background-color: rgba(1, 255, 255, 0); */
        /* background-image: url("assets/gambarSlide.png"); */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 30vw;
        height: 90vh;
        max-height: 100%;
        right : 0;
        /* margin: 2vh 2vw; */
    }
    
    .dalemBook{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .updateDiv .imgUpdate .imgBorder .book .gerakNewsKiri{
        /* display: none; */
    }

    .updateDiv .imgUpdate .imgBorder .book{
        background-image: none;
    }

    .updateDiv .imgUpdate .imgBorder{
        /* background-image: none; */
    }

}

@media screen and (max-width : 769px)  and (min-width :426px){
    .newest-container .newest, .newest-container .new{
        font-size: 4rem;
    }

    .updateDiv .imgUpdate .imgBorder .book{
        background-image: none;
    }

    .dalemBook{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .updateDiv .imgUpdate .imgBorder .book .gerakNewsKanan{
        /* background-color: rgba(1, 255, 255, 0); */
        /* background-image: url("assets/gambarSlide.png"); */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 30vw;
        height: 90vh;
        max-height: 100%;
        right : 0;
        /* margin: 2vh 2vw; */
    }

    .updateDiv .imgUpdate .imgBorder .book .gerakNewsKanan .slide{
        /* background-color: rgba(1, 255, 255, 0); */
        /* background-image: url("assets/gambarSlide.png"); */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        /* width: 0%; */
        height: 85vh;
        max-height: 100%;
        top: 1rem;
        /* left : 6rem; */
        /* margin: 2vh 2vw; */
    }

}

.limitedTime{
    background-image: linear-gradient(to bottom,
    #1d1c22 0%,
    #1d1c2200 10%,
    rgba(64, 64, 64, 0) 95%,
    #FFFAED 100%)
    ,url(assets/Update\ page\ wall\ 1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: auto;
    height: 200vh;
    max-width: 100%;
    max-height: 100%;
}

.gridLimitedTime{
    /* width: 100%; */
    /* height: 100%; */
    /* border: 5px solid #1d1c22; */
    /* box-sizing: border-box;
    display: grid;
    grid-template-areas: "line side"
                        "line side"
                        "line side";
    grid-template-columns: 0.1fr, 2fr; */
    /* grid-template-rows: auto, auto; */
    /* grid-gap : 1rem; */
    /* background-color: #f6b206; */
    /* padding: 10px; */
    /* justify-content: space-around; */
    /* background-size: contain; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    position: absolute;
    height: 200%;
    width: 100%;
    z-index: 5;
    padding: 3vh 2vw;
}

.gridLimitedTime .line{
    /* grid-area: line; */
    background-image: url(assets/LINE.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 5%;
    height: 100%;
    max-height: 100%;
    /* width: ; */
}

.gridLimitedTime .isi{
    /* grid-area: side; */
    /* background-color: #dbc7ac; */
    width: 100%;
    height: 100%;
}

.isi .character{
    /* display: flex; */
    width: 100%;
    height: 35%;
    /* position: relative; */
    justify-content: center;
}

.isi .character .charKata{
    font-family: fontJensin;
    position: absolute;
    font-size: 200%;
    color: #dbc7ac;
}

.isi .character .charIsi{
    /* background-color: #ffffff00; */
    /* display: flex; */
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
}

.isi .character .charIsi .mika{
    /* background-image: url(assets/mika.png); */
    /* background-color: aliceblue; */
    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
    height: 100%;
    width: 50%;
    max-height: 100vw;
    z-index: 5;
    position: absolute;
    right : 20%;
    filter: blur(5px);
}

.isi .character .charIsi .dehya{
    /* background-image: url(assets/dehya.png); */
    /* background-color: #FF3A44; */
    background-size: 100% 100%;
    height: 100%;
    width: 50%;
    max-height: 100vw;
    z-index: 6;
    position: absolute;
    left: 20%;
}

.isi .event{
    width: 100%;
    height: 33%;
    /* position: relative; */
    justify-content: center;
}

.isi .event .kataEvent{
    font-family: fontJensin;
    color: #FF3A44;
    font-size: 200%;
}

.isi .event .eventIsi{
    /* background-image: url(); */
    /* background-color: #1d1c22; */
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
}

.isi .event .eventIsi .eventKiri{
    background-image: url(assets/Event\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 100%;
}

.isi .event .eventIsi .eventKanan{
    background-image: url(assets/Event\ 3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 100%;
}

.isi .weapon{
    width: 100%;
    height: 30%;
    /* position: relative; */
    justify-content: center;
}

.isi .weapon .weaponKata{
    font-family: fontJensin;
    color: #dbc7ac;
    font-size: 200%;
}

.isi .weapon .weaponIsi{
    /* background-color: #f08800; */
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    position : relative;
}

.isi .weapon .weaponIsi .weapon1{
    background-image: url(assets/Weapon\ Circle2.png);
    background-size: 90% 90%;
    background-repeat: no-repeat;
    width: 29%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    position: absolute;
    z-index: 10;
}

.isi .weapon .weaponIsi .weapon2{
    background-image: url(assets/Weapon\ Circle1.png);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    width: 29%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    position: absolute;
    right : 14%;
    z-index: 9;
}

.isi .weapon .weaponIsi .weapon3{
    background-image: url(assets/Weapon\ Circle3.png);
    background-size: 80% 80%;
    background-repeat: no-repeat;
    width: 29%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    position: absolute;
    left: 16%;
    z-index: 9;
}

@media screen and (max-width : 426px){
    .isi .character .charIsi .mika{
        /* background-image: url(assets/mika.png); */
        /* background-color: aliceblue; */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 50%;
        width: 70%;
        max-height: 100vw;
        z-index: 5;
        position: absolute;
        top : 10%;
        right : 20%;
        filter: blur(5px);
    }

    .isi .character .charIsi .dehya{
        /* background-image: url(assets/dehya.png); */
        /* background-color: #FF3A44; */
        background-size: 100% 100%;
        height: 50%;
        width: 70%;
        max-height: 100vw;
        z-index: 6;
        top : 20%;
        position: absolute;
        left: 20%;
    }
    .isi .event .eventIsi{
        /* background-image: url(); */
        /* background-color: #1d1c22; */
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .isi .event .eventIsi .eventKiri{
        background-image: url(assets/Event\ 1.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
    }
    
    .isi .event .eventIsi .eventKanan{
        background-image: url(assets/Event\ 3.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 100%;
    }

    .isi .character{
        /* display: flex; */
        width: 100%;
        height: 30%;
        /* position: relative; */
        justify-content: center;
    }
    .isi .weapon{
        top : 12rem;
        width: 100%;
        height: 30%;
        /* position: relative; */
        display: flex;
        /* justify-content: flex-end; */
        flex-direction: column;
        /* align-items: flex-end; */
        margin-top: 3rem;
    }
    .isi .weapon .weaponKata{
        top : 20%;
        font-family: fontJensin;
        color: #dbc7ac;
        font-size: 200%;
    }

    .isi .weapon .weaponIsi{
        margin-top: 2rem;
    }

    .isi .weapon .weaponIsi .weapon1{
        width: 50%;
        height: 70%;
    }

    .isi .weapon .weaponIsi .weapon2{
        width: 50%;
        height: 70%;
        right : 0;
    }

    .isi .weapon .weaponIsi .weapon3{
        width: 50%;
        height: 70%;
        left : 0;
    }
}

@media screen and (max-width : 769px)  and (min-width :426px){
    .isi .character .charIsi .mika{
        /* background-image: url(assets/mika.png); */
        /* background-color: aliceblue; */
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 70%;
        width: 70%;
        max-height: 100vw;
        z-index: 5;
        position: absolute;
        top : 10%;
        right : 20%;
        filter: blur(5px);
    }

    .isi .character .charIsi .dehya{
        /* background-image: url(assets/dehya.png); */
        /* background-color: #FF3A44; */
        background-size: 100% 100%;
        height: 70%;
        width: 70%;
        max-height: 100vw;
        z-index: 6;
        top : 20%;
        position: absolute;
        left: 20%;
    }

    .isi .weapon .weaponIsi{
        margin-top: 1rem;
    }

    .isi .weapon .weaponIsi .weapon1{
        width: 40%;
        height: 70%;
    }

    .isi .weapon .weaponIsi .weapon2{
        width: 40%;
        height: 70%;
        right : 3%;
    }

    .isi .weapon .weaponIsi .weapon3{
        width: 40%;
        height: 70%;
        left : 5%;
    }

    .isi .event .eventIsi{
        /* background-image: url(); */
        /* background-color: #1d1c22; */
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .isi .weapon{
        top : 0rem;
        width: 100%;
        height: 44%;
        /* position: relative; */
        display: flex;
        /* justify-content: flex-end; */
        flex-direction: column;
        /* align-items: flex-end; */
        margin-top: 1rem;
    }
}

.comingChar{
    background-color: #FFFAED;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    /* max-width: 100vw; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.comingChar .words{
    position: relative;
    /* background-color: chocolate; */
    background-size: 100%;
    width: 100%;
    height: 20%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comingChar .comeUpon{
    font-family: fontJensin;
    font-size: 300%;
    position: absolute;
    top: 15%;
}

.comingChar .characternya{
    font-family: fontJensin;
    color: #FF3A44;
    font-size: 300%;
    position: absolute;
    bottom: 15%;
} 

.gambarTengahCarousel{
    /* background-color: #000000; */
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    top : 5%;
}

.comingChar .gambarTengahCarousel .gambarTengah{
    /* background-color: #e0ae2e; */
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top : 5%;
}

.comingChar .gambarTengahCarousel .gambarTengah .gambarChar{
    background-image: linear-gradient(
    to bottom,
    #1d1c2200 0%,
    #1d1c2200 70%,
    #fffaed 80%,
    #FFFAED 100%)
    ,url(assets/CHARACTER\ PAGE\ 1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 50%;
    justify-content: center;
    top: 2%;
    position: absolute;
}

.comingChar .gambarTengahCarousel .gambarTengah .gambarChar2{
    background-image: linear-gradient(
    to bottom,
    #1d1c2200 0%,
    #1d1c2200 70%,
    #fffaed 80%,
    #FFFAED 100%)
    ,url(assets/charPage2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 50%;
    justify-content: center;
    top: 2%;
    position: absolute;
}

.comingChar .gambarTengahCarousel .gambarTengah .gambarChar3{
    background-image: linear-gradient(
    to bottom,
    #1d1c2200 0%,
    #1d1c2200 70%,
    #fffaed 80%,
    #FFFAED 100%)
    ,url(assets/charPage3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 50%;
    justify-content: center;
    top: 2%;
    position: absolute;
}

.comingChar .gambarTengahCarousel .gambarTengah .gambarChar4{
    background-image: linear-gradient(
    to bottom,
    #1d1c2200 0%,
    #1d1c2200 70%,
    #fffaed 80%,
    #FFFAED 100%)
    ,url(assets/charPage4.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 50%;
    justify-content: center;
    top: 2%;
    position: absolute;
}
/* 
.comingChar .gambarTengahCarousel .gambarTengah .gambarChar{
    background-image: linear-gradient(
    to bottom,
    #1d1c2200 0%,
    #1d1c2200 70%,
    #fffaed 80%,
    #FFFAED 100%)
    ,url(assets/CHARACTER\ PAGE\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 50%;
    justify-content: center;
    top: 2%;
    position: absolute;
} */

/* .comingChar .gambarTengahCarousel .gambarTengah .charSee{
    background-color: #FF3A44;
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
} */

/* .comingChar .gambarTengahCarousel .gambarTengah .charSee .charList{
    background-image: url(assets/CHARACTER\ INFO\ LOGO.png);
    top : 44%;
    left: 24%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 30%;
    position: absolute;
} */

.charSeeButton{
    background-image: url(assets/See\ Characters.png);
    background-size: contain;
    height: 20%;
    width: 10%;
    background-repeat: no-repeat;
    position: absolute;
    top: 60%;
    left: 30%;
}

.comingChar .gambarTengahCarousel .gambarTengah .charSee{
    /* background-color: #FF3A44; */
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.comingChar .gambarTengahCarousel .gambarTengah .charSee .charList{
    background-image: url(assets/CHARACTER\ INFO\ LOGO.png);
    top : 44%;
    left: 24%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 30%;
    position: absolute;
}

.comingChar .gambarTengahCarousel .gambarTengah .charSee2{
    /* background-color: #FF3A44; */
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.comingChar .gambarTengahCarousel .gambarTengah .charSee2 .charList2{
    background-image: url(assets/see2.png);
    top : 44%;
    left: 24%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 30%;
    position: absolute;
}

.comingChar .gambarTengahCarousel .gambarTengah .charSee3{
    /* background-color: #FF3A44; */
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.comingChar .gambarTengahCarousel .gambarTengah .charSee3 .charList3{
    background-image: url(assets/see3.png);
    top : 44%;
    left: 24%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 30%;
    position: absolute;
}

.comingChar .gambarTengahCarousel .gambarTengah .charSee4{
    /* background-color: #FF3A44; */
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.comingChar .gambarTengahCarousel .gambarTengah .charSee4 .charList4{
    background-image: url(assets/see4.png);
    top : 44%;
    left: 24%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 30%;
    position: absolute;
}

@media screen and (max-width : 426px){
    .gambarTengahCarousel{
        width: 100vw;
        height: 100vh;
    }

    .comingChar .gambarTengahCarousel .gambarTengah{
        /* background-color: #00a0ff; */
        width: 100vw;
        top : -10%
    }

    .comingChar .gambarTengahCarousel .gambarTengah .gambarChar{
        width : 100%
    }

    .comingChar .gambarTengahCarousel .gambarTengah .gambarChar2{
        width : 100%
    }

    .comingChar .gambarTengahCarousel .gambarTengah .gambarChar3{
        width : 100%
    }

    .comingChar .gambarTengahCarousel .gambarTengah .gambarChar4{
        width : 100%
    }
    .charSeeButton{
        width: 20%;
        height: 20%;
    }

    .comingChar .gambarTengahCarousel .gambarTengah .charSee .charList{
        width: 50%;
        height: 50%;
        left : 10%;
    }
    .comingChar .gambarTengahCarousel .gambarTengah .charSee2 .charList2{
        width: 50%;
        height: 50%;
        left : 10%;
    }
    .comingChar .gambarTengahCarousel .gambarTengah .charSee3 .charList3{
        width: 50%;
        height: 50%;
        left : 10%;
    }
    .comingChar .gambarTengahCarousel .gambarTengah .charSee4 .charList4{
        width: 50%;
        height: 50%;
        left : 10%;
    }

    .gambarTengahCarousel{
        /* background-color: #000000; */
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: relative; */
        top : 0;
    }
}

@media screen and (max-width : 769px)  and (min-width :426px){
    .gambarTengahCarousel{
        width: 100vw;
        height: 100vh;
    }

    .comingChar .gambarTengahCarousel .gambarTengah{
        /* background-color: #00a0ff; */
        width: 80vw;
        top : -10%
    }

    .comingChar .gambarTengahCarousel .gambarTengah .gambarChar{
        width : 100%
    }

    .comingChar .gambarTengahCarousel .gambarTengah .gambarChar2{
        width : 100%
    }

    .comingChar .gambarTengahCarousel .gambarTengah .gambarChar3{
        width : 100%
    }

    .comingChar .gambarTengahCarousel .gambarTengah .gambarChar4{
        width : 100%
    }
    .charSeeButton{
        width: 20%;
        height: 20%;
    }

    .comingChar .gambarTengahCarousel .gambarTengah .charSee .charList{
        width: 50%;
        height: 50%;
        left : 10%;
    }
    .comingChar .gambarTengahCarousel .gambarTengah .charSee2 .charList2{
        width: 50%;
        height: 50%;
        left : 10%;
    }
    .comingChar .gambarTengahCarousel .gambarTengah .charSee3 .charList3{
        width: 50%;
        height: 50%;
        left : 10%;
    }
    .comingChar .gambarTengahCarousel .gambarTengah .charSee4 .charList4{
        width: 50%;
        height: 50%;
        left : 10%;
    }
    .gambarTengahCarousel{
        /* background-color: #000000; */
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* position: relative; */
        top : 0;
    }
}

.exploreSec{
    /* background-image: linear-gradient(
        to bottom,
        #fffaed 0%,
        #fffaed 10%,
        #fffaed00 20%,
        #fffaed00 100%) ,url(assets/ExploreBG.png); */
        /* background-color: #FF3A44; */
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.gambarMap{
    /* background-image: linear-gradient(
        to bottom,
        #fffaed 0%,
        #fffaed 10%,
        #fffaed00 20%,
        #fffaed00 100%) ,url(assets/ExploreBG.png); */
    /* background-color: #fffaed; */
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.gambarMap1{
    background-image: linear-gradient(
        to bottom,
        #fffaed 0%,
        #fffaed 10%,
        #fffaed00 20%,
        #fffaed00 100%) ,url(assets/ExploreBG.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.judulEx{
    /* background-color: #FF3A44; */
    /* top: 20%; */
    height: 5%;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.judulKiriEx{
    font-family: fontJensin;
    font-size: 200%;
    width: 50%;
    height: 100%;
    color: #00a0ff;
}

.pointEx{
    background-image: url(assets/SLIDER\ CIRCLES\ 2.png);
    background-size: contain;
    height: 100%;
    width: 10%;
    background-repeat: no-repeat;
}

.frameExplore{
    background-image: url(assets/VectorEx.png);
    background-size: 100% 95%;
    background-repeat: no-repeat;
    height: 85%;
    width: 95%;
    z-index: 3;
}

.judulIsi{
    /* background-color: #00a0ff; */
    padding-top: 2%;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.gambarEx{
    /* top : 50%; */
    background-image: url(assets/MAP.png);
    background-size: 70% 90%;
    height: 90%;
    width: 43%;
    background-repeat: no-repeat;
    /* padding-top: 10%; */
    /* left: 50%; */
}

.namaButtonEx{
    /* background-color: chartreuse; */
    background-size: contain;
    height: 100%;
    width: 45%;
}

.namaEx{
    /* background-color: darkcyan; */
    background-size: contain;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.nama1{
    font-family: fontJensin;
    color: #FF3A44;
    font-size: 13vh;
    position: absolute;
    top : 30%;
}

.nama2{
    font-family: fontJensin;
    color: #1d1c22;
    font-size: 5vh;
    position: absolute;
    top: 55%;
}

.buttonEx{
    background-image: url(assets/Explore\ Tevyat\ Button.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 25%;
    height: 11%;
    justify-content: center;
    align-items: center;
}

.footer{
    background-image: url(assets/Footer.png);
    background-size: 100% 100%;
    width: 100%;
    height: 60vh;

}

@media screen and (max-width : 426px){
    .judulIsi{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gambarEx{
        background-size: 100% 100%;
        height: 90%;
        width: 50%;
    }

    .namaButtonEx{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nama1{
        font-size: 10vh;
        align-self: center;
    }

    .nama2{
        font-size: 3vh;
        align-self: center;
        top: 70%;
    }

}

@media screen and (max-width : 769px) and (min-width :426px){
    .judulIsi{
        margin-top: 1rem;
        /* display: flex; */
        /* flex-direction: column; */
        align-items: center;
    }

    .gambarEx{
        background-size: 100% 100%;
        margin-top: 5%;
        height: 60%;
        width: 60%;
        display: flex;
        align-self: flex-start;
    }

    .namaButtonEx{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttonEx{
        height: 7%;
    }

    .nama1{
        font-size: 10vh;
        align-self: center;
    }

    .nama2{
        font-size: 3vh;
        align-self: center;
        top: 70%;
    }
}